**/dist
/target
**/node_modules
/out
*.iml
/.idea
/Backend/.env
**/package-lock.json

!.idea/modules.xml
!CucumberTests/CucumberTests.iml
!Database/Database.iml
!Docker/Docker.iml
!Frontend/Frontend.iml
!Presentations/Presentations.iml
!Backend/Backend.iml
!docs/dist
